#main {
  background-color: white;
  width: 1500px;
  height: 700px;
  border: 5px solid;
  border-color: darkblue;
}
.box1 {
  font-size: 60px;
  padding: 10px;
  color: red;
  font-family: Verdana;
  margin-top: -2px;
}
div #main {
  background-image: url(Images/logo1.jpg);
  width: 300px;
  height: 200px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
img.one {
  float: right;
  margin-top: -130px;
}
img.second {
  height: 170px;
  width: 170px;
  padding: 20px;
  margin-top: -100px;
}
img.third {
  width: 170px;
  height: 80px;
  margin-left: 200px;
  margin-top: -193px;
  float: left;
}
p {
  font-size: 22px;
  margin-left: 10px;
}
h2 {
  font-family: cursive;
  font-size: 60px;
  margin-top: -2px;
  color: brown;
}
p.color {
  color: red;
  margin-top: -40px;
  font-size: 26px;
}
h1 {
  font-family: Cambria, Cochin;
  font-size: 40px;
  margin-top: -2px;
}
.ok {
  font-size: 16px;
  margin-left: 1090px;
  margin-top: -70px;
}
.hmm {
  font-size: 20px;
  margin-left: 200px;
  margin-top: -140px;
}
