.main{
  width: 1500px;
  height: 1700px;
  
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: #c31818;
  font-family: Verdana;
  font-size: 26px;
  position: sticky;
  top: 0;
}

ul.navbar li {
  float: left;
  margin-left: 100px;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: pink;
  color: black;
}

ul.navbar .dropdown {
  display: inline-block;
}

ul.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: orange;
  min-width: 160px;
  z-index: 1;
}

ul.navbar .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

ul.navbar .dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

ul.navbar .dropdown:hover .dropdown-content {
  display: block;
}
