.container{
    margin-top: 200px;
    margin-left: 400px;
    padding: 0px;
    min-height: 200px;
    background-image: url(../Images/loginformbackground.avif);
    color: white;
    width: 500px;
    height: 350px;
    box-shadow: 0 0 0 2px rgba(148,0,211,1), 15px -15px 0 -2px rgba(255,255,255,1), 15px -15px 0 0 rgba(75,0,130,1), 30px -30px 0 -2px rgba(255,255,255,1), 30px -30px 0 0 rgba(0,0,255,1), 45px -45px 0 -2px rgba(255,255,255,1), 45px -45px 0 0 rgba(0,255,0,1), 60px -60px 0 -2px rgba(255,255,255,1), 60px -60px 0 0 rgba(255,255,0,1), 75px -75px 0 -2px rgba(255,255,255,1), 75px -75px 0 0 rgba(255,127,0,1), 90px -90px 0 -2px rgba(255,255,255,1), 90px -90px 0 0 rgba(255,0,0,1);
}
ul li{
    display: flex;
    margin-top: 50px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-left: 10%;
    padding: 10px;
    background-color: red;
    border-radius: 10px;
}
input{
    padding: 5px;
    border-radius: 10px;
}
textarea{
    border-radius: 10px;
}