
div{
  position: fixed;
}
ul {
  list-style: none;
  position: relative;
}
li {
  display: inline-block;
  width: 200px;
  background-color: blue;
  color: white;
  line-height: 30px;
  font-size: 25px;
  margin-left: 70px;

}
ul li ul{
  position: absolute;
}

ul li a {
  text-decoration: none;
  display: block;
}

ul li a:hover {
  background: pink;
}

ul li ul li {
  display: none;
}

ul li:hover ul li {
  display: block;
  z-index: 1;
  margin-left: -55px;

}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul .css li {
  color: pink;
  position: relative;
}
.css li:hover {
  background-color: black;
  display: block;
}

img{
  width: 350px;
  height: 220px;
  margin-top: 100px;
}
article{
  width: 350px;
  border: 2px solid;
  border-radius: 15px;
  padding: 5px;
  float: left;
  margin-left: 5px;
  margin-top: 80px;
}
.btn
{
  background-color: aqua ;
}
.btn:hover{
  background-color: green;
}
