.item1{
    height: 100px;
    width: 100px;
    background-color: blue;
    transition: all 10s;
    /* transition-property: width,height,background;
       transition-duration: 5s; */
    /* transition-timing-function: steps(2); */
}
.item{
    font-size: 1.5em;
    text-align: center;
}
.item1:hover{
    width: 500px;
    height: 500px;
    background-color: greenyellow;
}